.container {
  min-width: 320px;
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: {
      top: 10px;
      bottom: 10px;
    }
    .logo-img {
      width: 180px;
      height: 180px;
    }
  }
}
