.container {
  min-width: 320px;
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo-img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
    }
  }
}
