.app {
  height: 100%;
  .btn--swhite-theme {
    
  }
  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70vh;
  }
  footer {
    min-width: 320px;
    margin: 80px auto 30px;
    text-align: center;
  }
}
