@media (prefers-color-scheme: dark) {
  .modal {
    background-color: whitesmoke !important;
  }
}

.container {
  cursor: pointer;
  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal {
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: {
      left: 5px;
      right: 5px;
      top: 5px;
      bottom: 5px;
    }
    img {
      max-width: 70vw;
      max-height: 70vh;
      border-radius: 15px;
    }
  }
}
