* {
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  font-family: "Gowun Dodum", sans-serif !important;
}

button {
  font-family: "Gowun Dodum", sans-serif !important;
}

input {
  font-family: "Gowun Dodum", sans-serif !important;
}

textarea {
  font-family: "Gowun Dodum", sans-serif !important;
}

a {
  font-family: "Gowun Dodum", sans-serif !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1d1d1d;
    color: whitesmoke;
  }
}
