* {
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  font-family: "Raleway", sans-serif;
  font-family: "Gowun Dodum", sans-serif;
}

button {
  font-family: "Gowun Dodum", sans-serif;
}

input {
  font-family: "Gowun Dodum", sans-serif;
}

a {
  font-family: "Gowun Dodum", sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1d1d1d;
    color: whitesmoke;
  }
}
