* {
  box-sizing: border-box;
  font-family: "Gowun Dodum", sans-serif !important;
}

body {
  background-color: whitesmoke;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1d1d1d;
    color: whitesmoke;
  }
}
